/* ------------------------------------------ */
/* ABOUT BLOCK
/* ------------------------------------------ */
.about {
    @include wrapper;
    min-height: 100vh;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        position: relative;
        font-family: $font-family-secondary;
        display: block;
        margin: 0 0 3rem;
        font-size: 7rem;
        line-height: 1;
        font-weight: $regular-font-weight;
    }

    &__list {
        li {
            padding: 0 0 2rem;
        }

        h3 {
            text-transform: uppercase;
        }

    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2.7rem;
        width: 100vw;
        height: 2.7rem;
        background: url("../img/line.svg");
        background-size: contain;
        background-repeat: repeat-x;
        transform: rotate(180deg);
        z-index: 2;
    }

    @media (min-width: $medium-up) {
        &__wrapper {
            flex-direction: row;
        }

        &__image {
            width: 50%;
        }

        &__list {
            width: 50%;
        }
    }
}